$icon-font-path: "../styles/fonts/"; // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
    margin: 30px 0;
}

.search-list {
    margin-top: 10px;
}

// format artists in table as comma-separated list
// see http://milov.nl/2883
.artists {
    display: inline;
    list-style: none;

    li {
        display: inline;

        &:after { content: ", "; }
        &:last-of-type:after { content: ""; }
        // note: need :last-of-type above instead of :last-child because
        // Ember.js inserts empty <script> tags for data binding
    }
}
