<div id="results">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
        </thead>

        <tbody>
            {{#each}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{artist}}</td>
                    <td>{{album.name}}</td>
                    <td>{{format-time length}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
